.footer {
    font-weight: 400;
    padding-top: 30px;
    background: rgba(var(--theme-overlay-rgb),.08);
    border-bottom: 6px solid var(--theme-main);
}

.footer .content {
    padding-left: 150px;
}

.content {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 55px;
    padding-right: 55px;
    word-wrap: break-word;
}

.footerLogo {
    position: absolute;
    top: 0;
    left: 55px;
    height: 54px;
    width: auto;
    max-width: 48px;
    object-fit: contain;
}

.grid {
    display: inline;
    margin-left: -15px;
    margin-right: -15px;
}

.box {
    position: relative;
    min-height: 1px;
    float: left;
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.footerTitle {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    color: var(--theme-accent);
}

.footerMenu {
    display: block;
}

.footerMenu li:first-child {
    padding-top: 0;
}

.footerMenu li .footerMenuItem {
    display: block;
    line-height: 1.2;
    padding: 4px 0;
    color: #333;
}

.link, .link:focus, .link:hover {
    text-decoration: none;
}

.cells::after, .clear::after, .content::after, .contentForm::after, .grid::after {
    content: "";
    display: table;
    clear: both;
}

.footerContacts {
    margin-right: -50px;
    margin-top: 22px;
    border-top: 1px solid rgba(var(--theme-accent-rgb),.15);
}

.footerContacts .grid {
    margin: 0;
}

.footerContacts .box {
    padding: 0;
}

.footerContact {
    display: inline-block;
    height: 70px;
    line-height: 70px;
}

.footerContactInner {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.3;
}

.footerContactTitle {
    font-weight: 600;
    font-size: 10px;
    color: var(--theme-main);
    text-transform: uppercase;
}

.footerContactText {
    font-weight: 600;
    font-size: 22px;
    cursor: pointer;
    color: #1f5d8e;
}

.footerMenu li .footerMenuItem {
    display: block;
    line-height: 1.2;
    padding: 4px 0;
    color: #333;
}

.right {
    text-align: right;
}

@media (max-width: 639px) {
    .footerContact {
        padding: 0 15px;
    }

    .footerMenus {
        padding-left: 16px;
        padding-right: 16px;
    }

    .box {
        padding-left: 5px;
        padding-right: 5px;
    }

    .grid {
        display: block;
        margin-left: -5px;
        margin-right: -5px;
    }
}

@media (max-width: 979px) {
    .footerContacts {
        margin-top: 0;
        border-top: none;
    }

    .footerMenus {
        border-bottom: 1px solid var(--theme_background-500);
        padding-bottom: 32px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .footerContact.footerContactEmail {
        float: none;
        border-bottom: 1px solid var(--theme_background-500);
    }

    .footerContact {
        display: block;
        height: 66px;
        line-height: 66px;
        padding: 0 30px;
    }

    .footerContact.footerContactEmail {
        float: none;
        border-bottom: 1px solid var(--theme_background-500);
    }

    .footerTitle {
        margin-bottom: 16px;
        margin-top: 32px;
    }

    .footer .content {
        padding: 0;
    }

    .footerLogo {
        display: none;
    }

    .footer {
        padding-top: 0;
    }

    .footerContact.footerContactPhone {
        float: none;
        padding-right: 0;
        border-bottom: 1px solid var(--theme_background-500);
    }

    .footerContact {
        display: block;
        height: 66px;
        line-height: 66px;
        padding: 0 30px;
    }

    .footerContacts .right {
        text-align: left;
    }
}

.footerMenu li .footerMenuItem:hover {
    color: var(--theme-accent);
}

.footerContact.footerContactPhone {
    padding-right: 47px;
}

@media (min-width: 980px) {
    .box.laptop3 {
        width: 25%;
    }
}

@media (max-width: 1279px) {
    .footerContacts {
        margin-right: -20px;
    }

    .footerContact.footerContactPhone {
        padding-right: 20px;
    }

    .box {
        padding-left: 10px;
        padding-right: 10px;
    }

    .grid {
        display: block;
        margin-left: -10px;
        margin-right: -10px;
    }
}

@media (min-width: 1280px) {
    .box.desktop3 {
        width: 25%;
    }

    .box.desktop9 {
        width: 75%;
    }

    .box.laptop4 {
        width: 33.33333333%;
    }

    .box.laptop8 {
        width: 66.66666667%;
    }
}