.footer {
    font-weight: 400;
    padding-top: 30px;
    background: rgba(var(--theme-overlay-rgb),.08);
    border-bottom: 6px solid var(--theme-main);
}

.footer .content {
    padding-left: 150px;
}

.content {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 55px;
    padding-right: 55px;
    word-wrap: break-word;
}

.footer-logo {
    position: absolute;
    top: 0;
    left: 55px;
    height: 54px;
    width: auto;
    max-width: 48px;
    object-fit: contain;
}

.grid {
    display: inline;
    margin-left: -15px;
    margin-right: -15px;
}


*, ::before {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.box {
    position: relative;
    min-height: 1px;
    float: left;
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    color: var(--theme-accent);
}



ol, small, ul {
    display: block;
}

.footer-menu li:first-child {
    padding-top: 0;
}

.footer-menu li .footer-menu-item {
    display: block;
    line-height: 1.2;
    padding: 4px 0;
    color: #333;
}

.link, .link:focus, .link:hover, a, a:focus, a:hover {
    text-decoration: none;
}

.cells::after, .clear::after, .content::after, .content_form::after, .grid::after {
    content: "";
    display: table;
    clear: both;
}

.footer-contacts {
    margin-right: -50px;
    margin-top: 22px;
    border-top: 1px solid rgba(var(--theme-accent-rgb),.15);
}

.footer-contacts .grid {
    margin: 0;
}

.footer-contacts .box {
    padding: 0;
}

.footer-contact {
    display: inline-block;
    height: 70px;
    line-height: 70px;
}

.footer-contact-inner {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.3;
}

.footer-contact-title {
    font-weight: 600;
    font-size: 10px;
    color: var(--theme-main);
    text-transform: uppercase;
}

.footer-contact-text {
    font-weight: 600;
    font-size: 22px;
    cursor: pointer;
    color: #1f5d8e;
}

.footer-menu li .footer-menu-item {
    display: block;
    line-height: 1.2;
    padding: 4px 0;
    color: #333;
}

.right {
    text-align: right;
}

@media (max-width: 639px) {
    .footer-contact {
        padding: 0 15px;
    }

    .footer-menus {
        padding-left: 16px;
        padding-right: 16px;
    }

    .box {
        padding-left: 5px;
        padding-right: 5px;
    }

    .grid {
        display: block;
        margin-left: -5px;
        margin-right: -5px;
    }
}

@media (max-width: 979px) {
    .footer-contacts {
        margin-top: 0;
        border-top: none;
    }

    .footer-menus {
        border-bottom: 1px solid var(--theme_background-500);
        padding-bottom: 32px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer-contact.footer-contact-email {
        float: none;
        border-bottom: 1px solid var(--theme_background-500);
    }

    .footer-contact {
        display: block;
        height: 66px;
        line-height: 66px;
        padding: 0 30px;
    }

    .footer-contact.footer-contact-email {
        float: none;
        border-bottom: 1px solid var(--theme_background-500);
    }

    .footer-title {
        margin-bottom: 16px;
        margin-top: 32px;
    }

    .footer .content {
        padding: 0;
    }

    .footer-logo {
        display: none;
    }

    .footer {
        padding-top: 0;
    }

    .footer-contact.footer-contact-phone {
        float: none;
        padding-right: 0;
        border-bottom: 1px solid var(--theme_background-500);
    }

    .footer-contact {
        display: block;
        height: 66px;
        line-height: 66px;
        padding: 0 30px;
    }

    .footer-contacts .right {
        text-align: left;
    }
}

.footer-menu li .footer-menu-item:hover {
    color: var(--theme-accent);
}

@media (min-width: 980px) {
    .box.laptop-3 {
        width: 25%;
    }
}

@media (max-width: 1279px) {
    .footer-contacts {
        margin-right: -20px;
    }

    .footer-contact.footer-contact-phone {
        padding-right: 20px;
    }

    .box {
        padding-left: 10px;
        padding-right: 10px;
    }

    .grid {
        display: block;
        margin-left: -10px;
        margin-right: -10px;
    }
}

@media (min-width: 1280px) {
    .box.desktop-3 {
        width: 25%;
    }

    .box.desktop-9 {
        width: 75%;
    }

    .box.laptop-4 {
        width: 33.33333333%;
    }

    .box.laptop-8 {
        width: 66.66666667%;
    }
}