.header {
  z-index: 200;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 0;
}

.headerTop {
  position: relative;
  height: 70px;
  line-height: 70px;
  background: var(--theme_background-50);
  border-bottom: 1px solid rgba(var(--theme-accent-rgb),.15);
}

.headerTop .content {
  padding: 0;
}

.content {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 55px;
  padding-right: 55px;
  word-wrap: break-word;
}

.uFlexGrow {
  flex-grow: 1;
}

.uDFlex {
  display: flex;
}

.mainMenuBtn {
  position: relative;
  display: none;
  vertical-align: top;
  padding: 0 24px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.mainMenuBtn::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -12px;
  width: 26px;
  height: 18px;
  background-size: auto;
  background-size: contain;
}

.mainMenuBtn:hover {
  opacity: .85;
}

.mainMenuMobile {
  z-index: 200;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid var(--theme_background-500);
  border-bottom: 1px solid var(--theme_background-500);
}

.logo {
  position: relative;
  top: 0;
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 25px;
  font-size: 12px;
  text-decoration: none !important;
  color: #333 !important;
}

.logoIcon {
  position: relative;
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 22px;
  max-height: 50px;
  width: auto;
  object-fit: contain;
}

.mainMenu {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  border-left: 1px solid rgba(var(--theme-accent-rgb),.15);
  font-size: 0;
}

.mainMenuMobile .headerPhone {
  font-weight: 600;
  font-size: 16px;
}

.headerCities .headerCity, .headerCities .headerPhone, .headerCities .mainMenuRestItem, .headerPhones .headerCity, .headerPhones .headerPhone, .headerPhones .mainMenuRestItem, .mainMenuRestItems .headerCity, .mainMenuRestItems .headerPhone, .mainMenuRestItems .mainMenuRestItem {
  padding: 10px 24px;
  white-space: nowrap;
}

.mainMenuMobile .headerCityIcon, .mainMenuMobile .headerPhoneIcon {
  display: inline-block;
  width: 18px !important;
  height: auto !important;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 0;
}

.mainMenuMobile .headerCities, .mainMenuMobile .headerPhones {
  opacity: 1 !important;
  visibility: visible !important;
  position: relative;
  top: auto;
  left: 0;
  border: none;
  border-top-width: medium;
  border-top-style: none;
  border-top-color: currentcolor;
  border-top: 1px solid var(--theme_background-500);
  box-shadow: none;
  background: none;
}

.mainMenuMobile .mainMenu {
  display: block !important;
  padding: 20px 15px 20px 30px;
  border: none;
}

.mainMenuMobile .mainMenu > ul > li {
  display: block;
}

.mainMenuMobile .mainMenu > ul > li > a {
  display: block;
  height: auto;
  line-height: 1.4;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 14px;
}

.mainMenuMobile .mainMenu > ul > li > a.active::before {
  background: var(--theme-accent);
}

.mainMenuMobile .mainMenu > ul > li > a::before {
  content: "";
  display: block;
  position: absolute;
  top: 17px;
  left: 0;
  width: 8px;
  height: 8px;
  background: #e2e7ee;
  border-radius: 200px;
}

.mainMenu > ul {
  line-height: 1;
}

.mainMenu > ul > li > a:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--theme-accent);
}

.mainMenuRestWrap {
  display: none;
  border-left: none;
}

.headerCityWrap, .headerPhoneWrap, .mainMenuRestWrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-left: 1px solid rgba(var(--theme-accent-rgb),.15);
  cursor: default;
  transition: all .2s ease-in-out;
}

.headerCityWrap:hover, .headerPhoneWrap:hover {
  background: var(--theme_background-100);
}

.mainMenu > ul {
  line-height: 1;
}

.fontSize, .mainMenu > ul > li, body {
  font-size: 13px;
}

.mainMenu > ul > li {
  position: relative;
  display: inline-block;
}

.mainMenu > ul > li > a.active {
  position: relative;
  color: var(--theme-accent);
}

.mainMenu > ul > li > a {
  display: block;
  height: 70px;
  line-height: 70px;
  padding: 0 17px;
  font-weight: 600;
  font-size: 14px;
  color: #333;
  transition: color .2s ease-in-out;
}

.uFlexShrink0 {
  flex-shrink: 0;
}

.headerCity, .headerPhone, .mainMenuRestItem {
  padding: 0 24px;
  font-size: 14px;
  font-weight: 700;
  color: var(--theme-accent);
  cursor: pointer;
}

.headerCityIcon, .headerPhoneIcon {
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
}

.mainMenuMobile .headerPhoneText {
  line-height: 1.2;
}

.headerPhoneText {
  display: inline-block;
  vertical-align: middle;
}

.headerCities, .headerPhones, .mainMenuRestItems {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 200;
  top: 100%;
  right: 0;
  min-width: 100%;
  padding: 10px 0;
  line-height: 1.4;
  text-align: left;
  background: var(--theme_background-50);
  border: 1px solid var(--theme_background-500);
  border-radius: 0 0 6px 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,.15);
  transition: all .2s ease-in-out;
}

.headerPhoneIcon {
  width: 14px;
  height: auto;
}

.headerPhoneTitle {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: var(--theme-main);
}

.headerPhone .headerPhones .headerPhoneIcon {
  width: 14px;
  height: auto;
}

.accountBtn {
  display: inline-block;
  vertical-align: top;
  padding: 0 24px;
  border-left: 1px solid rgba(var(--theme-accent-rgb),.15);
  border-right: 1px solid rgba(var(--theme-accent-rgb),.15);
  font-size: 14px;
  font-weight: 700;
}

.headerCities .headerCity:hover, .headerCities .headerPhone:hover, .headerCities .mainMenuRestItem:hover, .headerPhones .headerCity:hover, .headerPhones .headerPhone:hover, .headerPhones .mainMenuRestItem:hover, .mainMenuRestItems .headerCity:hover, .mainMenuRestItems .headerPhone:hover, .mainMenuRestItems .mainMenuRestItem:hover {
  background: var(--theme_background-100);
}

.headerCityWrap:hover .headerCities, .headerCityWrap:hover .headerPhones, .headerCityWrap:hover .mainMenuRestItems, .headerPhoneWrap:hover .headerCities, .headerPhoneWrap:hover .headerPhones, .headerPhoneWrap:hover .mainMenuRestItems, .mainMenuRestWrap:hover .headerCities, .mainMenuRestWrap:hover .headerPhones {
  opacity: 1;
  visibility: visible;
}

.accountBtn:hover {
  background: var(--theme_background-100);
}

.mainMenuMobile .accountBtn {
  border-left: none;
  border-top: 1px solid var(--theme_background-500);
}

.mainMenuMobile .accountBtn img, .mainMenuMobile .accountBtn svg {
  margin-left: 0;
  margin-right: 10px;
  width: 22px;
  height: auto;
}

.mainMenuMobile .accountBtn, .mainMenuMobile .visionBtn {
  display: block !important;
}

.headerCity, .headerPhone, .mainMenuRestItem {
  color: var(--theme-accent);
  cursor: pointer;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 700;
}

.accountBtn, .headerCityCurrent {
  color: var(--theme-accent);
}

.accountBtn img, .accountBtn svg {
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
}

.accountBtnLkSvg {
  margin-left: 3px !important;
  margin-right: 3px;
}

.link, .link:focus, .link:hover, a:focus, a:hover {
  text-decoration: none;
}

.mainMenuBtn {
  position: relative;
  display: none;
  vertical-align: top;
  padding: 0 24px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.mainMenuBtn .mainMenuBtnInner {
  display: inline-block;
  width: 26px;
}

.mainMenuBtn.active .mainMenuBtnCloseSvg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  margin-top: -11px;
  margin-left: -11px;
}

.mainMenuBtn.active .mainMenuBtnMenuSvg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  margin-top: -11px;
  margin-left: -11px;
}

.mainMenuBtn path {
  display: none;
}

.mainMenu > ul > li > a.active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--theme-accent);
}

path.active {
  display: block;
}

.mainMenuBtn.active::after, .mainMenuBtnCloseSvg {
  display: none;
}

@media (max-width: 979px) {
  .mainMenuBtn {
    border-left: none;
  }

  .accountBtn {
    display: none;
  }

  .headerCityWrap, .headerPhoneWrap, .mainMenuRestWrap {
    display: none !important;
  }
}

@media (max-width: 1279px) {
  .mainMenuBtn {
    display: inline-block !important;
  }

  .mainMenu {
    display: none;
  }

  .headerCityWrap, .mainMenuRestWrap {
    display: none !important;
  }
}

@media (min-width: 1280px) {
  .logo {
    border-left: 1px solid rgba(var(--theme-accent-rgb),.15);
  }

  .mainMenuMobile {
    display: none !important;
  }
}