@import "tailwindcss";

.margin-header {
  margin-bottom: 1%;
  margin-right: 4.2%;
  max-width: 1280px
}

.logo {
  padding: 0 25px;
  flex-grow: 1;
  max-width: 300px;
  align-self: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-grow: 2;
  gap: 4%;
  margin-left: 3%;
}

.phone {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: right;
  gap: 3%;
}

@media
(width >= 1280px) {
  .logo {
    padding-left: 2%
  }
  .margin-header {
    margin-left: 4.2%;
  }
  .logo {
    border-left: 1px solid rgba(var(--theme-accent-rgb),.15);
    border-right: 1px solid rgba(var(--theme-accent-rgb),.15);
  }
}

@media
(width < 1280) {
  .nav {
    display: none;
  }
  .logo {
    flex-grow: 3;
    max-width: 66%;
  }
}

@media
(width < 980) {
  .phone {
    display: none;
  }
}

.logo-icon {
  width: auto;
  max-height: 50px;
}

.li {
  margin-right: 10%;
}

.align-self-center {
  align-self: center;
}

.flex {
  display: flex;
}

.flex-grow-6 {
  flex-grow: 6;
}

.flex-grow-4 {
  flex-grow: 4;
}

.flex-shrink-0 {
  display: flex;
  flex-shrink: 0;
}

.flex-gap-3 {
  gap: 3%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding-right-5 {
  padding-right: 5%;
}

.margin-header-right {
  margin-right: 3.6%;
}

.margin-right-12 {
  margin-right: 12%;
}

.align-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.justify-end {
  justify-content: flex-end;
}

.nav-menu {
  margin-left: 3%;
  display: inline-block;
  align-self: center;
}

.nav-menu-list {
  padding: 0 2% 0 2%;
}