@import "tailwindcss";

.header-main-page-margin {
  margin-bottom: -40px;
}

.header {
  z-index: 200;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 0;
}

.header-main-page-margin {
  margin-bottom: -40px;
}

.header {
  z-index: 200;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 0;
}

.header-top {
  position: relative;
  height: 70px;
  line-height: 70px;
  background: var(--theme_background-50);
  border-bottom: 1px solid rgba(var(--theme-accent-rgb),.15);
}

.header-top .content {
  padding: 0;
}

.content {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 55px;
  padding-right: 55px;
  word-wrap: break-word;
}

.u-flex-grow {
  flex-grow: 1;
}

.u-d-flex {
  display: flex;
}

.main-menu-btn {
  position: relative;
  display: none;
  vertical-align: top;
  padding: 0 24px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.main-menu-btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -12px;
  width: 26px;
  height: 18px;
  background-size: auto;
  background-size: contain;
}

.main-menu-btn:hover {
  opacity: .85;
}

.main-menu-mobile {
  z-index: 200;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid var(--theme_background-500);
  border-bottom: 1px solid var(--theme_background-500);
}

.logo {
  position: relative;
  top: 0;
  display: inline-block;
  vertical-align: top;
  padding: 0 25px;
  font-size: 12px;
  text-decoration: none !important;
  color: #333 !important;
}

.logo-icon {
  position: relative;
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 22px;
  max-height: 50px;
  width: auto;
  object-fit: contain;
}

.main-menu {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  border-left: 1px solid rgba(var(--theme-accent-rgb),.15);
  font-size: 0;
}

.main-menu-mobile .header-phone {
  font-weight: 600;
  font-size: 16px;
}

.header-cities .header-city, .header-cities .header-phone, .header-cities .main-menu-rest-item, .header-phones .header-city, .header-phones .header-phone, .header-phones .main-menu-rest-item, .main-menu-rest-items .header-city, .main-menu-rest-items .header-phone, .main-menu-rest-items .main-menu-rest-item {
  padding: 10px 24px;
  white-space: nowrap;
}

.main-menu-mobile .header-city-icon, .main-menu-mobile .header-phone-icon {
  display: inline-block;
  width: 18px !important;
  height: auto !important;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 0;
}

.main-menu-mobile .header-cities, .main-menu-mobile .header-phones {
  opacity: 1 !important;
  visibility: visible !important;
  position: relative;
  top: auto;
  left: 0;
  border: none;
  border-top-width: medium;
  border-top-style: none;
  border-top-color: currentcolor;
  border-top: 1px solid var(--theme_background-500);
  box-shadow: none;
  background: none;
}

.main-menu-mobile .main-menu {
  display: block !important;
  padding: 20px 15px 20px 30px;
  border: none;
}

.main-menu-mobile .main-menu > ul > li {
  display: block;
}

.main-menu-mobile .main-menu > ul > li > a {
  display: block;
  height: auto;
  line-height: 1.4;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 14px;
}

.main-menu-mobile .main-menu > ul > li > a.active::before {
  background: var(--theme-accent);
}

.main-menu-mobile .main-menu > ul > li > a::before {
  content: "";
  display: block;
  position: absolute;
  top: 17px;
  left: 0;
  width: 8px;
  height: 8px;
  background: #e2e7ee;
  border-radius: 200px;
}

.main-menu > ul {
  line-height: 1;
}

.main-menu > ul > li > a:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--theme-accent);
}

.main-menu-rest-wrap {
  display: none;
  border-left: none;
}

.header-city-wrap, .header-phone-wrap, .main-menu-rest-wrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-left: 1px solid rgba(var(--theme-accent-rgb),.15);
  cursor: default;
  transition: all .2s ease-in-out;
}

.main-menu > ul {
  line-height: 1;
}

.font-size, .main-menu > ul > li, body {
  font-size: 13px;
}

.main-menu > ul > li {
  position: relative;
  display: inline-block;
}

.main-menu > ul > li > a.active {
  position: relative;
  color: var(--theme-accent);
}

.main-menu > ul > li > a {
  display: block;
  height: 70px;
  line-height: 70px;
  padding: 0 17px;
  font-weight: 600;
  font-size: 14px;
  color: #333;
  transition: color .2s ease-in-out;
}

.u-d-flex {
  display: flex;
}

ol, small, ul {
  display: block;
}

ol, ul {
  list-style-type: none;
}

.header-city-wrap, .header-phone-wrap, .main-menu-rest-wrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-left: 1px solid rgba(var(--theme-accent-rgb),.15);
  cursor: default;
  transition: all .2s ease-in-out;
}

.header-city-wrap, .header-phone-wrap, .main-menu-rest-wrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-left: 1px solid rgba(var(--theme-accent-rgb),.15);
  cursor: default;
  transition: all .2s ease-in-out;
}

.u-flex-shrink-0 {
  flex-shrink: 0;
}

.header-city, .header-phone, .main-menu-rest-item {
  padding: 0 24px;
  font-size: 14px;
  font-weight: 700;
  color: var(--theme-accent);
  cursor: pointer;
}

.header-city-icon, .header-phone-icon {
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
}

.main-menu-mobile .header-phone-text {
  line-height: 1.2;
}

.header-phone-text {
  display: inline-block;
  vertical-align: middle;
}

.header-cities, .header-phones, .main-menu-rest-items {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 200;
  top: 100%;
  right: 0;
  min-width: 100%;
  padding: 10px 0;
  line-height: 1.4;
  text-align: left;
  background: var(--theme_background-50);
  border: 1px solid var(--theme_background-500);
  border-radius: 0 0 6px 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,.15);
  transition: all .2s ease-in-out;
}

.header-phone-title {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: var(--theme-main);
}

.header-phone .header-phones .header-phone-icon {
  width: 14px;
  height: auto;
}

.account-btn {
  display: inline-block;
  vertical-align: top;
  padding: 0 24px;
  border-left: 1px solid rgba(var(--theme-accent-rgb),.15);
  font-size: 14px;
  font-weight: 700;
}

.header-cities .header-city:hover, .header-cities .header-phone:hover, .header-cities .main-menu-rest-item:hover, .header-phones .header-city:hover, .header-phones .header-phone:hover, .header-phones .main-menu-rest-item:hover, .main-menu-rest-items .header-city:hover, .main-menu-rest-items .header-phone:hover, .main-menu-rest-items .main-menu-rest-item:hover {
  background: var(--theme_background-100);
}

.account-btn:hover {
  background: var(--theme_background-100);
}

.main-menu-mobile .account-btn {
  border-left: none;
  border-top: 1px solid var(--theme_background-500);
}

.main-menu-mobile .account-btn img, .main-menu-mobile .account-btn svg {
  margin-left: 0;
  margin-right: 10px;
  width: 22px;
  height: auto;
}

.main-menu-mobile .account-btn, .main-menu-mobile .vision-btn {
  display: block !important;
}

.header-city, .header-phone, .main-menu-rest-item {
  color: var(--theme-accent);
  cursor: pointer;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 700;
}

.account-btn, .header-city-current {
  color: var(--theme-accent);
}

.account-btn img, .account-btn svg {
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
}

.account-btn__lk-svg {
  margin-left: 3px !important;
  margin-right: 3px;
}

.link, .link:focus, .link:hover, a, a:focus, a:hover {
  text-decoration: none;
}

.main-menu-btn {
  position: relative;
  display: none;
  vertical-align: top;
  padding: 0 24px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.main-menu-btn .main-menu-btn-inner {
  display: inline-block;
  width: 26px;
}

.main-menu-btn.active .main-menu-btn__close-svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  margin-top: -11px;
  margin-left: -11px;
}

.main-menu-btn.active .main-menu-btn__menu-svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  margin-top: -11px;
  margin-left: -11px;
}

.main-menu-btn path {
  display: none;
}

.main-menu > ul > li > a.active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--theme-accent);
}

path.active {
  display: block;
}

.main-menu-btn.active::after, .main-menu-btn__close-svg {
  display: none;
}

.account-btn__blind {
  border-right: 1px solid rgba(var(--theme-accent-rgb),.15);
}

*, ::after, ::before {
  box-sizing: border-box;
}

@media (max-width: 979px) {
  .main-menu-btn {
    border-left: none;
  }

  .header-city-wrap, .header-phone-wrap, .main-menu-rest-wrap {
    display: none !important;
  }
}

@media (max-width: 1279px) {
  .main-menu-btn {
    display: inline-block !important;
  }

  .main-menu {
    display: none;
  }

  .header-city-wrap, .main-menu-rest-wrap {
    display: none !important;
  }
}

@media (min-width: 1280px) {
  .logo {
    border-left: 1px solid rgba(var(--theme-accent-rgb),.15);
  }

  .main-menu-mobile {
    display: none !important;
  }
}